{% extends "network/layout.html" %}

{% block body %}
<div class="container" id="app"></div>
<script type="text/babel">

    function App() {
        const [posts, setPosts] = React.useState(null);
        function showPosts() {
            fetch(`/post_list`)
                .then(response => response.json())
                .then(response => {
                    console.log(` post data`, response);
                    setPosts(response);
                })
        }

        React.useEffect(() => {
            showPosts();
        }, [])
        if (posts) {
            return posts.map(post => {
                return (<div className="row" key={post.id}>
                    <span className="border-bottom" />
                    <div className="col">
                        <p> <strong>{post.username}</strong></p>
                        <div>{post.posts}</div>
                        <div>{post.date}</div>
                    </div>
                </div>)
            })
        }
        if (!posts) {
            return "No posts"
        }
    }
    ReactDOM.render(<App />, document.querySelector('#app'));  
</script>
{% endblock %}